body {
    margin:0;
}
* {
    font-family:Rubik;
    margin:0;
    cursor:default;
}
.SectionParent {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
}
.Section {
    flex-grow:1;
    flex-basis:0;
    transition:1s;
    overflow:hidden;
    max-width:33.333vw;
}
.Section.state-hidden {
    width:0;
    padding:0;
    flex-grow:0;
}
.Eye, .Hand, .Mind {
    padding:0 20px;
}
.SectionHeader, .SectionHeader-ActionName, .SectionHeader-ActionCount {
    font-size:5em;
    text-align:center;
    font-weight:bold;
    letter-spacing:-0.05em;
    line-height:0.7em;
    color:var(--sc-2);
    opacity:0.3;
    white-space:nowrap;
    z-index:0;
}
.SectionHeader-ActionName, .SectionHeader-ActionCount {
    position:absolute;
    top:50%;
    left:0.5em;
    transform:translatey(-50%);
    opacity:1;
    color:white;
    z-index:1;
    font-size:2.5em;
}
.SectionHeader-Gradient {
    background-image: linear-gradient(90deg, transparent 0%, var(--sc-2) 100%);
    position:absolute;
    top:0;
    right:0;
    width:10em;
    z-index:1;
    height:100%;
}
.SectionHeader-ActionCount {
    right:0.5em;
    left:auto;
    color:var(--sc-3);
}
.SectionHeaderParent {
    padding-top:4px;
    width:100%;
    padding-bottom:6px;
    margin-bottom:-6px;
    position:relative;
    z-index:-1;
}
.SectionHeaderParent-fill {
    width:calc(var(--fill) * 1%);
    height:100%;
    transition:0.1s;
    position:absolute;
    top:0;
    left:0;
    background-color:var(--sc-2);
    overflow:hidden;
}
.SectionSubtitle {
    text-align:center;
    font-style:italic;
    margin-bottom:20px;
}
.LeftSection {
    --sc-1:#FEEEA0;
    --sc-2:#FBAF5B;
    --sc-3:#F06A5E;
}
.CenterSection {
    --sc-1:#a4f7e1;
    --sc-2:#50d3ca;
    --sc-3:#0c86a1;
}
.RightSection {
    --sc-1:#fdcae8;
    --sc-2:#ac46a7;
    --sc-3:#72458d;
}
.CenterBottomOverlay {
    position:absolute;
    left: 50%;
    bottom:20px;
    width:100%;
    display:none;
}
.Games {
    display:flex;
    flex-direction:column;
    margin-top:30px;
    align-items:center;
}
body .game {
    display:flex;
    flex-direction:column;
    width:60%;
    border:3px solid var(--sc-2);
    background-color:var(--sc-2);
    border-radius:5px;
}
.game-metaInfo {
    display:flex;
    justify-content:space-between;
    background-color:var(--sc-1);
    border-bottom:3px solid var(--sc-2);
    padding:5px;
    border-radius:5px;
}
.Game .game-content {
    background-color:white;
    padding:5px;
    border-radius:5px;
    aspect-ratio:32 / 9;
}
.game-clicker {
    width:50%;
    aspect-ratio:1 / 1;
    background-color:var(--sc-3);
    border-radius:1000px;
    animation:5s infinite alternate-reverse ease-in-out pulse;
}
@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(0.9);
    }
    100% {
        transform:scale(1.1);
    }
}
.game-fillerH {
    background-color:var(--sc-2);
    height:20px;
    margin-bottom:3px;
    border-radius:1000px;
}
.game-fillerP {
    background-color:var(--sc-2);
    height:10px;
    margin-top:3px;
    margin-right:20%;
    border-radius:1000px;
}
.f-col {
    display:flex;
    flex-direction:column;
}
.f-row {
    display:flex;
    flex-direction:row;
}
.f-eqChildren > * {
    flex-basis:0;
    flex-grow:1;
}
.f-centerer {
    display:flex;
    justify-content:center;
    align-items:center;
}
.p-20 {
    padding:20px;
}
.Subsection {
    display:flex;
    flex-direction:column;
    row-gap:5px;
    width:100%;
    align-items:center;
}
.SubsectionHeader {
    margin-top:30px;
    font-weight:bolder;
}
.SubsectionDesc {
    font-style:italic;
    margin-bottom:10px;
}
.smallResource {
    width:100%;
    background-color:var(--sc-1);
    padding:15px;
    border-radius:5px;
    display:flex;
    align-items:center;
    box-sizing:border-box;
}
.smallResource {
    padding:10px;
}
.smallResource-count {
    font-size:1.5em;
    line-height:1em;
    margin-right:0.2em;
}
.smallResource-title {
    margin-right:auto;
}
.clickable {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:var(--sc-1);
    margin-top:3px;
    margin-bottom:3px;
    box-shadow:0px 5px 0 var(--sc-2);
    user-select:none;
    box-sizing:border-box;
    cursor:pointer;
}
.clickable > * {
    pointer-events:none;
}
body .CentralClickable {
    padding:20px;
    height:75px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-left:-20px;
    width:calc(100% + 40px);
    background-color:var(--sc-1);
    box-shadow:0px 5px 0 var(--sc-2);
    user-select:none;
}
.CentralClickable-Action {
    font-weight:bold;
    font-size:1.5em;
}
.clickable.CentralClickable:active {
    margin-top:3px;
    transform:translatey(3px);
}
.clickable:hover {
    transform:translatey(-3px);
    box-shadow:0px 8px 0 var(--sc-2);
}
.clickable:active {
    margin-top:6px;
    margin-bottom:0px;
    transform:translatey(0);
    box-shadow:0px 2px 0 var(--sc-2);
}
.upgrade {
    width:100%;
    background-color:var(--sc-1);
    padding:15px;
    border-radius:5px;
    box-sizing:border-box;
}
.upgrade-title {
    font-size:1.2em;
    font-weight:bold;
    line-height:1em;
}
.upgrade-lore {
    text-align:right;
    font-style:italic;
}